.paid-status {
    background-color: #d5f3bf;
    color: #487437;
    padding: 3px 10px;
}

table {
    width: 100%;
    background-color: white;
}

table td {
    color: #807b68;
    font-weight: 600;
}